<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/style_admin/style_login.css}">
    <title>CDA - Login</title>
</head>
<body>
<div id="container-main">
    <div id="area-login">
        <div id="titulo-login">
            <div id="img-logo">
                <img th:src="@{/img/LOGO CDA 2.png}" alt="">
            </div>
            <h2>ÁREA DO ADMINISTRADOR</h2>
        </div>
        <form action="POST">
            <div class="text-field">
                <label for="user">Usuário:</label>
                <input type="text" id="user" name="user">
            </div>
            <div class="text-field">
                <label for="password">Senha:</label>
                <input type="password" id="password" name="password">
            </div>
            <a th:href="@{admin/home}" id="btn-logar">Login</a>
        </form>
    </div>
</div>
</body>
</html>