<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/style_admin/style_novo_associado.css}">
    <title>Cadastrar associado</title>
</head>
<body>
    <div id="content-main">
        <div  id="header-pag"><a><img th:src="@{/img/icons/Back.png}" alt="" id="btn-back"></a><h2>CADASTRAR ASSOCIADO</h2></div>
        <div id="area-formulario">
            <form th:action="@{/admin/associados/salvarAssociado}" th:object="${associado}" method="post">
                <div class="text-field">
                    <label for="cnpj">CNPJ:</label>
                    <input type="text" name="cnpj" id="cnpj" class="campo-pequeno" th:field="*{cnpj}">
                </div>
                <div class="text-field">
                    <label for="razao-social">Razão social:</label>
                    <input type="text" name="razao-social" id="razao-social" class="campo-medio" th:field="*{razao_social}">
                </div>
                <div class="text-field">
                    <label for="localizacao">Localização:</label>
                    <input type="text" name="localizacao" id="localizacao" class="campo-medio" th:field="*{localizacao}">
                </div>
                <div class="text-field">
                    <label for="presidente">Presidente:</label>
                    <input type="text" name="presidente" id="presidente" class ="campo-medio" th:field="*{presidente}">
                </div>
                <div class="text-field">
                    <label for="telefone">Telefone:</label>
                    <input type="text" name="telefone" id="telefone" class  ="campo-pequeno" th:field="*{telefone}">
                </div>
                <div class="text-field">
                    <label for="observacoes">Observações:</label>
                    <input type="text" name="observacoes" id="observacoes" class="campo-grande" th:field="*{observacoes}">
                </div>

                <div id="area-btn-salvar">
                    <button id="btn-salvar">Publicar</button>
                </div>

            </form>
        </div>
    </div>
</body>
</html>