<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/style_navbar.css}">
    <link rel="stylesheet" th:href="@{/css/style_noticia.css}">
    <title th:text="${noticia.titulo}"></title>
</head>
<header >
    <img th:src="@{/img/LOGO CDA 2.png}" alt="" id="logo-cda">
    <div id="botoes-navbar">
        <a th:href="@{/home}" class="btn-navbar">Início</a>
        <a th:href="@{/projetos}" class="btn-navbar">Projetos</a>
        <a th:href="@{/noticias}" class="btn-navbar">Notícias</a>
        <a th:href="@{/servicos}" class="btn-navbar">Serviços</a>
        <a th:href="@{/associados}" class="btn-navbar">Afiliados</a>
        <a th:href="@{/apoiadores}" class="btn-navbar">Apoiadores</a>
    </div>
</header>
<body>
    <div id="container-main">
        <div class="modelo-noticia">
            <div class="titulo-noticia">
                <h2 th:text="${noticia.titulo}">Deputado Federal Daniel Almeida disponibiliza cerca de 2 milhões de recursos em emendas em benefícios para Araci.</h2>
            </div>
            <div class="info-publicacao">
                <p> <strong> Publicado por: </strong> <span th:text="${noticia.autor}">autor</span></p>
                <p> <strong>Data de publicação:</strong> <span th:text="${noticia.data_publicacao}">data</span> </p>
            </div>
            <div class="imagem-noticia">
                <img th:src="@{'/' + ${noticia.imagem_url}}" alt="Imagem da Notícia">
            </div>
            <div class="texto-noticia">
                <p th:text="${noticia.texto}"></p>
            </div>
        </div>
    </div>
</body>
</html>