<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/style_navbar.css}">
    <link rel="stylesheet" th:href="@{/css/style_noticias.css}">
    <link rel="icon" type="image/png" th:href="@{/img/LOGO CDA 2.png}" />
    <title>CDA - Notícias</title>
</head>
<header >
    <img th:src="@{/img/LOGO CDA 2.png}" alt="" id="logo-cda">
    <div id="botoes-navbar">
        <a th:href="@{/home}" class="btn-navbar">Início</a>
        <a th:href="@{/projetos}" class="btn-navbar">Projetos</a>
        <a th:href="@{/noticias}" class="btn-navbar">Notícias</a>
        <a th:href="@{/servicos}" class="btn-navbar">Serviços</a>
        <a th:href="@{/associados}" class="btn-navbar">Afiliados</a>
        <a th:href="@{/apoiadores}" class="btn-navbar">Apoiadores</a>
    </div>
</header>
<body>
    <div id="container-main">
        <div id="titulo-pag">
            <h1>NOTÍCIAS E EVENTOS</h1>
        </div>
        <div class="area-noticias">
            <div class="noticias-container" >
                <div class="modelo-noticias" th:each="noticia : ${noticias}">
                    <div class="img-noticia">
                        <img th:src="@{${noticia.imagem_url}}" alt="Imagem da Notícia">
                    </div>
                    <div class="area-txt">
                        <div class="titulo-noticia">
                            <h3 th:text="${noticia.titulo}">Título da Notícia</h3>
                        </div>
                        <div class="texto-noticia">
                            <p id="texto-noticia-[[${noticia.id}]]" th:text="${noticia.texto}">Resumo da notícia...</p>
                        </div>
                        <div class="area-btn-ler">
                            <a th:href="@{/noticia/{id}(id=${noticia.id})}" class="btn-ler">
                                <button>Ler mais</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>
<script>
    // Limitar o texto para os primeiros 100 caracteres
    document.querySelectorAll('.texto-noticia p').forEach(function(p) {
        var texto = p.textContent;
        if (texto.length > 650) {
            p.textContent = texto.substring(0, 650) + '...';
        }
    });
</script>
</html>