<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/style_navbar.css}">
    <link rel="stylesheet" th:href="@{/css/style_noticias.css}">
    <title>CDA - Notícias</title>
</head>
<header >
    <img src="@{/img/LOGO CDA 2.png}" alt="" id="logo-cda">
    <div id="botoes-navbar">
        <a href="@{/home}" class="btn-navbar">Início</a>
        <a href="#" class="btn-navbar">Projetos</a>
        <a href="#" class="btn-navbar">Notícias</a>
        <a href="#" class="btn-navbar">Serviços</a>
        <a href="#" class="btn-navbar">Afiliados</a>
        <a href="#" class="btn-navbar">Apoiadores</a>
    </div>
</header>
<body>
    <div id="container-main">
        <div id="titulo-pag">
            <h1>NOTÍCIAS E EVENTOS</h1>
        </div>
        <div class="area-noticias">
            <div class="noticias-container">
                <div class="modelo-noticias" th:each="noticia : ${noticias}">
                    <div class="img-noticia">
                        <img th:src="@{${noticia.imagem_url}}" alt="Imagem da Notícia">
                    </div>
                    <div class="area-txt">
                        <div class="titulo-noticia">
                            <h3 th:text="${noticia.titulo}">Título da Notícia</h3>
                        </div>
                        <div class="texto-noticia">
                            <p th:text="${noticia.texto}">Resumo da notícia...</p>
                        </div>
                        <div class="area-btn-ler">
                            <a th:href="@{/noticia/{id}(id=${id})}" class="btn-ler">
                                <button>Ler mais</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>
</html>