<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style_navbar.css">
    <link rel="stylesheet" href="static/css/style_noticias.css">
    <title>CDA - Notícias</title>
</head>
<header >
    <img src="static/img/LOGO CDA 2.png" alt="" id="logo-cda">
    <div id="botoes-navbar">
        <a href="#" class="btn-navbar">Início</a>
        <a href="#" class="btn-navbar">Projetos</a>
        <a href="#" class="btn-navbar">Notícias</a>
        <a href="#" class="btn-navbar">Serviços</a>
        <a href="#" class="btn-navbar">Afiliados</a>
        <a href="#" class="btn-navbar">Apoiadores</a>
    </div>
</header>
<body>
    <div id="container-main">
        <div id="titulo-pag">
            <h1>NOTÍCIAS E EVENTOS</h1>
        </div>
        <div class="area-noticias">
            <div class="modelo-noticias">
                <div class="img-noticia">
                    <img src="" alt="">
                </div>
                <div class="area-txt">
                    <div class="titulo-noticia">
                        <h3>Município de Araci é escolhida para sediar os jogos da Copa Baiana de Futebol 2024.</h3>
                    </div>
                    <div class="texto-noticia">
                        <p>Araci, município que tem se destacado por valorizar e incentivar o esporte, está mais uma vez à frente de grandes realizações. Em 2024, a cidade foi escolhida para sediar os jogos da Copa Baiana de Futebol, um dos eventos esportivos mais importantes do estado. A indicação, que coloca Araci em posição de destaque no cenário esportivo, foi feita pelo Deputado Federal Daniel Almeida, do PCdoB, como parte de seu compromisso com o desenvolvimento da região e incentivo ao esporte.
                            A competição será organizada pela Superintendência dos Desportos do Estado da Bahia (Sudesb), em parceria com a Federação Baiana de Futebol e a Companhia de Desenvolvimento e Ação Regional (CDA). O evento contará também com o forte apoio da Prefeitura Municipal de Araci, que tem se empenhado em criar condições adequadas para a realização do torneio, além de promover o engajamento da população.
                            </p>
                    </div>
                    <div class="area-btn-ler">
                        <a href="" class="btn-ler"><button>Ler mais</button></a>
                    </div>
                </div>
            </div>
            <div class="modelo-noticias">
                <div class="img-noticia">
                    <img src="" alt="">
                </div>
                <div class="area-txt">
                    <div class="titulo-noticia">
                        <h3>Deputado Federal Daniel Almeida disponibiliza cerca de 2 milhões de recursos em emendas em benefícios para Araci.</h3>
                    </div>
                    <div class="texto-noticia">
                        <p>O presidente do PCdoB de Araci, Toinho da CDA, acompanhado de uma comitiva formada por lideranças membros do partido, realizou uma importante reunião no dia 22 de março de 2024 com o Deputado Federal do PCdoB, Daniel Almeida. Esse encontro foi fundamental para discutir e apresentar as principais demandas do município de Araci, visando melhorar as condições de vida da população local e fortalecer o desenvolvimento da cidade e suas comunidades.
                            Durante a reunião, o Deputado Daniel Almeida demonstrou grande comprometimento com as necessidades da região, atendendo prontamente os pedidos apresentados. Ele anunciou a destinação de aproximadamente 2 milhões de reais, provenientes de emendas parlamentares, que serão aplicados ainda este ano em diversos benefícios para o município.
                            </p>
                    </div>
                    <div class="area-btn-ler">
                        <a href="" class="btn-ler"><button>Ler mais</button></a>
                    </div>
                </div>
            </div>
        
        </div>
    </div>
</body>
</html>