<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/style_navbar.css}">
    <link rel="stylesheet" th:href="@{/css/style_servicos.css}">
    <title>CDA - Serviços</title>
</head>
<header >
    <img th:src="@{/img/LOGO CDA 2.png}" alt="" id="logo-cda">
    <div id="botoes-navbar">
        <a href="home.html" class="btn-navbar">Início</a>
        <a href="projetos.html" class="btn-navbar">Projetos</a>
        <a href="noticias.html" class="btn-navbar">Notícias</a>
        <a href="servicos.html" class="btn-navbar">Serviços</a>
        <a href="#" class="btn-navbar">Afiliados</a>
        <a href="apoiadores.html" class="btn-navbar">Apoiadores</a>
    </div>
</header>
<body>
<div id="container-main">
    <div id="titulo-pag">
        <h1>NOSSOS SERVIÇOS</h1>
    </div>
    <div class="area-servicos">
        <div class="modelo-servicos">
            <div class="area-txt">
                <div class="titulo-sevico">
                    <h3>DECLARAÇÃO DE IMPOSTO SOBRE A PROPRIEDADE TERRITORIAL RURAL (DITR)</h3>
                </div>
                <div class="texto-servico">
                    <p>O que é: A Declaração de Imposto sobre a Propriedade Territorial Rural (DITR) é uma obrigação tributária anual, de caráter federal, que recai sobre proprietários, titulares do domínio útil ou possuidores a qualquer título de imóvel rural. A DITR tem como objetivo apurar o valor do Imposto sobre a Propriedade Territorial Rural (ITR), que incide sobre as propriedades rurais em todo o território nacional.

                        A declaração é realizada por meio de um sistema eletrônico disponibilizado pela Receita Federal, onde o contribuinte informa os dados do imóvel rural, como área total, áreas de preservação permanente, reserva legal, e outras áreas não tributáveis. A apuração do imposto considera também o grau de utilização da terra, conforme o potencial produtivo da área.

                        Os contribuintes têm a responsabilidade de manter as informações sobre suas propriedades atualizadas e corretas, evitando a aplicação de multas por inconsistências ou omissões na declaração. Além disso, o recolhimento do ITR pode ter reflexos na regularidade fundiária da propriedade, sendo necessário para diversos processos, como o registro de compra e venda de imóveis rurais.
                        O cumprimento da DITR é essencial para a gestão fiscal das propriedades rurais e contribui para o planejamento e desenvolvimento sustentável dessas áreas.

                    </p>
                    <p>Tempo para realização: Não estimado</p>
                    <p>Custo: R$ 20,00</p>
                </div>

            </div>
        </div>

    </div>
</div>
</body>
</html>