body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#content-main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header-pag{
    width: 85%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: start;
}

#area-table{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: start;
}

table {
    width: 85%;
    border-collapse: collapse;
    margin-bottom: 1rem;
    background-color: transparent;
    font-size:10pt;
}

th, td {
    padding: 0.75rem;
    text-align: left;
    border: 1px solid #dee2e6;
}

th {
    background-color: #e9ecef;
    font-weight: bold;
}

.striped-table tbody tr:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}

.striped-table tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.1);
}


.deletar{
    width: 50px;
    height: 28px;
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: rgb(255, 14, 14);
    color: white;
    font-size: 9pt;
    border-radius: 5px;
    cursor:pointer;
    border:none;
}

.deletar:hover{
    background-color: rgb(255, 100, 100);
}

a{
    text-decoration:none;
}

.editar{
    width: 50px;
    height: 28px;
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items:center;
    color: white;
    font-size: 9pt;
    border-radius: 5px;
    cursor:pointer;
    border:none;
    background-color: rgb(0, 81, 255);
}

.editar:hover{
    background-color: rgb(39, 108, 255);
}

#btn-back{
    width: 35px;
    margin-right: 5px;
    cursor:pointer;
}